<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
<!-- 	<resultMap id="memberResultSet" type="Member">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="gender" column="GENDER"/>
		<result property="age" column="AGE"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="mStatus" column="M_STATUS"/>
	</resultMap> -->
	
	<resultMap id="memberResultSet" type="Member">
		<id property="mem_num" column="MEM_NUM"/>
		<result property="mem_id" column="MEM_ID"/>
		<result property="mem_pwd" column="MEM_PWD"/>
		<result property="mem_email" column="MEM_EMAIL"/>
		<result property="mem_phone" column="MEM_PHONE"/>
		<result property="mem_addr" column="MEM_ADDR"/>
		<result property="mem_name" column="MEM_NAME"/>
		<result property="mem_gender" column="MEM_GENDER"/>
		<result property="mem_birth" column="MEM_BIRTH"/>
		<result property="mem_point" column="MEM_POINT"/>
		<result property="mem_profile" column="MEM_PROFILE"/>
		<result property="mem_status" column="MEM_STATUS"/>
		<result property="shipping_code" column="SHIPPING_CODE"/>
		<result property="mem_grade" column="MEM_GRADE"/>
		<result property="mem_cert" column="MEM_CERT"/>
		<result property="mem_sms_agree" column="MEM_SMS_AGREE"/>
		<result property="mem_email_agree" column="MEM_EMAIL_AGREE"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE MEM_ID=#{mem_id}
		AND MEM_PWD=#{mem_pwd}
		AND MEM_STATUS='Y'
	</select>
	
	<!-- 아이디 체크 -->
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_ID=#{mem_id}
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MEM_NUM.nextval,#{mem_id},#{mem_pwd},#{mem_email},#{mem_phone},#{mem_addr},#{mem_name},#{mem_gender},TO_DATE(#{mem_birth},'YYMMDD'),0,NULL,'Y',0,'SILVER','N',#{mem_sms_agree},#{mem_email_agree})
	</insert>
	
	<!-- 회원가입 이메일 인증  -->
	<update id="registSuccess" parameterType="Member">
		UPDATE MEMBER
		SET MEM_CERT = 'Y'
		WHERE MEM_ID = #{mem_id}
	</update>
	
<!-- 	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
	암호화 전
		SELECT *
		FROM MEMBER
		WHERE ID=#{id}
		AND PWD=#{pwd}
		AND M_STATUS='Y'
		
		 암호화 후
		 SELECT *
		 FROM MEMBER
		 WHERE ID=#{id}
		 AND M_STATUS='Y'
	</select> -->
	<!-- 
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{id},#{pwd},#{name},#{email},#{gender},
		#{age},#{phone},#{address},SYSDATE,SYSDATE,default)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET EMAIL=#{email},AGE=#{age},PHONE=#{phone},ADDRESS=#{address}
		,UPDATE_DATE=SYSDATE
		WHERE ID=#{id}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET M_STATUS='N'
		WHERE ID=#{id}
	</update>
	 -->
<!-- 	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE id=#{id}
	</select> -->
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET 
		MEM_PWD=#{mem_pwd},
		MEM_NAME=#{mem_name},
		MEM_EMAIL=#{mem_email},
		MEM_PHONE=#{mem_phone},
		MEM_GENDER=#{mem_gender},
		MEM_BIRTH=TO_DATE(#{mem_brith},'YYMMDD'),
		MEM_SMS_AGREE=#{mem_sms_agree},
		MEM_EMAIL_AGREE=#{mem_email_agree}
		WHERE MEM_ID=#{mem_id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET MEM_STATUS='N'
		WHERE MEM_ID=#{mem_id}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEM_NAME = #{mem_name}
		AND MEM_EMAIL = #{mem_email}
		AND ROWNUM = 1
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="pwdfind" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEM_NAME=#{mem_name}
		AND MEM_ID=#{mem_id}
		AND MEM_EMAIL=#{mem_email}
	</select>
	
	<!-- 임시비밀번호로 pwd 재설정 -->
	<update id="changePwd" parameterType="Member">
		UPDATE MEMBER
		SET MEM_PWD = #{mem_pwd}
		WHERE MEM_ID=#{mem_id}
	</update>
	
	
	
</mapper>









