<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
<!-- 	<resultMap id="memberResultSet" type="Member">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="gender" column="GENDER"/>
		<result property="age" column="AGE"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="mStatus" column="M_STATUS"/>
	</resultMap> -->
	
	<resultMap id="memberResultSet" type="Member">
		<id property="MEM_NUM" column="MEM_NUM"/>
		<id property="MEM_ID" column="MEM_ID"/>
		<id property="MEM_PWD" column="MEM_PWD"/>
		<id property="MEM_EMAIL" column="MEM_EMAIL"/>
		<id property="MEM_PHONE" column="MEM_PHONE"/>
		<id property="MEM_ADDR" column="MEM_ADDR"/>
		<id property="MEM_NAME" column="MEM_NAME"/>
		<id property="MEM_GENDER" column="MEM_GENDER"/>
		<id property="MEM_BIRTH" column="MEM_BIRTH"/>
		<id property="MEM_POINT" column="MEM_POINT"/>
		<id property="MEM_PROFILE" column="MEM_PROFILE"/>
		<id property="MEM_STATUS" column="MEM_STATUS"/>
		<id property="SHIPPING_CODE" column="SHIPPING_CODE"/>
		<id property="MEM_GRADE" column="MEM_GRADE"/>
		<id property="MEM_CERT" column="MEM_CERT"/>
		<id property="MEM_SMS_AGREE" column="MEM_SMS_AGREE"/>
		<id property="MEM_EMAIL_AGREE" column="MEM_EMAIL_AGREE"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE MEM_ID=#{MEM_ID}
		AND MEM_PWD=#{MEM_PWD}
		AND MEM_STATUS='Y'
	</select>
	
	<!-- 아이디 체크 -->
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_ID=#{MEM_ID}
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MEM_NUM.nextval,#{MEM_ID},#{MEM_PWD},#{MEM_EMAIL},#{MEM_PHONE},#{MEM_ADDR},#{MEM_NAME},#{MEM_GENDER},TO_DATE(#{MEM_BIRTH},'YYMMDD'),0,NULL,'Y',0,'SILVER','N',#{MEM_SMS_AGREE},#{MEM_EMAIL_AGREE})
		
	</insert>
	
	
<!-- 	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
	암호화 전
		SELECT *
		FROM MEMBER
		WHERE ID=#{id}
		AND PWD=#{pwd}
		AND M_STATUS='Y'
		
		 암호화 후
		 SELECT *
		 FROM MEMBER
		 WHERE ID=#{id}
		 AND M_STATUS='Y'
	</select> -->
	<!-- 
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{id},#{pwd},#{name},#{email},#{gender},
		#{age},#{phone},#{address},SYSDATE,SYSDATE,default)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET EMAIL=#{email},AGE=#{age},PHONE=#{phone},ADDRESS=#{address}
		,UPDATE_DATE=SYSDATE
		WHERE ID=#{id}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET M_STATUS='N'
		WHERE ID=#{id}
	</update>
	 -->
<!-- 	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE id=#{id}
	</select> -->
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET 
		MEM_PWD=#{MEM_PWD},
		MEM_NAME=#{MEM_NAME},
		MEM_EMAIL=#{MEM_EMAIL},
		MEM_PHONE=#{MEM_PHONE},
		MEM_GENDER=#{MEM_GENDER},
		MEM_BIRTH=TO_DATE(#{MEM_BIRTH},'YYMMDD'),
		MEM_SMS_AGREE=#{MEM_SMS_AGREE},
		MEM_EMAIL_AGREE=#{MEM_EMAIL_AGREE}
		WHERE MEM_ID=#{MEM_ID}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET MEM_STATUS='N'
		WHERE MEM_ID=#{MEM_ID}
	</update>
</mapper>









