<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
<!--    <resultMap id="memberResultSet" type="Member">
      <id property="id" column="ID"/>
      <result property="pwd" column="PWD"/>
      <result property="name" column="NAME"/>
      <result property="email" column="EMAIL"/>
      <result property="gender" column="GENDER"/>
      <result property="age" column="AGE"/>
      <result property="phone" column="PHONE"/>
      <result property="address" column="ADDRESS"/>
      <result property="enrollDate" column="ENROLL_DATE"/>
      <result property="updateDate" column="UPDATE_DATE"/>
      <result property="mStatus" column="M_STATUS"/>
   </resultMap> -->
   
   <resultMap id="memberResultSet" type="Member">
      <id property="mem_num" column="MEM_NUM"/>
      <result property="mem_id" column="MEM_ID"/>
      <result property="mem_pwd" column="MEM_PWD"/>
      <result property="mem_email" column="MEM_EMAIL"/>
      <result property="mem_phone" column="MEM_PHONE"/>
      <result property="mem_addr" column="MEM_ADDR"/>
      <result property="mem_name" column="MEM_NAME"/>
      <result property="mem_gender" column="MEM_GENDER"/>
      <result property="mem_birth" column="MEM_BIRTH"/>
      <result property="mem_point" column="MEM_POINT"/>
      <result property="mem_profile" column="MEM_PROFILE"/>
      <result property="mem_status" column="MEM_STATUS"/>
      <result property="shipping_code" column="SHIPPING_CODE"/>
      <result property="mem_grade" column="MEM_GRADE"/>
      <result property="mem_cert" column="MEM_CERT"/>
      <result property="mem_sms_agree" column="MEM_SMS_AGREE"/>
      <result property="mem_email_agree" column="MEM_EMAIL_AGREE"/>
   </resultMap>
   
    <resultMap id="miroticDetailResultSet" type="Mirotic">
      <result property="or_num" column="OR_NUM"/>
      <result property="me_num" column="MB_NUM"/>
      <result property="mb_each" column="MB_EACH"/>
      <result property="pr_code" column="MRPR_CODE"/>
      <result property="pr_each" column="PR_EACH"/>
      <result property="or_total" column="OR_TOTAL"/>
      <result property="or_date" column="OR_DATE"/>
      <result property="or_status" column="OR_STATUS"/>
      <result property="sender_name" column="SENDER_NAME"/>
      <result property="sender_addr" column="SENDER_ADDR"/>
      <result property="sender_phone" column="SENDER_PHONE"/>
      <result property="shipping_code" column="SHIPPING_CODE"/>
      <result property="mem_num" column="MEM_NUM"/>
     
   <association javaType="Product" property="product">
         <result property="pr_code" column="PRPR_CODE"/>
         <result property="pr_name" column="PR_NAME"/>
         <result property="renameFileName" column="RENAME_FILE_NAME"/>
         <result property="pr_price" column="PR_PRICE"/>
      </association>
      
     <association javaType="Shipping" property="shipping">
       <result property="receiver_name" column="RECEIVER_NAME"/>
       <result property="receiver_addr" column="RECEIVER_ADDR"/>
       <result property="receiver_phone" column="RECEIVER_PHONE"/>
       <result property="shipping_status" column="SHIPPING_STATUS"/>
       <result property="shipping_request" column="SHIPPING_REQUEST"/>
       <result property="or_num" column="OR_NUM"/>
       
    </association>
      
   </resultMap>
   <resultMap id="miroticResultSet" type="Mirotic">
      <result property="or_num" column="OR_NUM"/>
      <result property="me_num" column="MB_NUM"/>
      <result property="mb_each" column="MB_EACH"/>
      <result property="pr_code" column="PR_CODE"/>
      <result property="pr_each" column="PR_EACH"/>
      <result property="or_total" column="OR_TOTAL"/>
      <result property="or_date" column="OR_DATE"/>
      <result property="or_status" column="OR_STATUS"/>
      <result property="sender_name" column="SENDER_NAME"/>
      <result property="sender_addr" column="SENDER_ADDR"/>
      <result property="sender_phone" column="SENDER_PHONE"/>
      <result property="shipping_code" column="SHIPPING_CODE"/>
      <result property="mem_num" column="MEM_NUM"/>
  
       <association javaType="Product" property="product">
         <id property="pr_code" column="PR_CODE"/>
         <result property="pr_name" column="PR_NAME"/>
         <result property="renameFileName" column="RENAME_FILE_NAME"/>
      </association>
      
       <association javaType="maincate" property="mcate">
         <id property="catecode1" column="CATECODE1"/>
         <result property="catename1" column="CATENAME1"/>
      </association>
      
       <association javaType="subcate" property="scate">
         <id property="catecode2" column="CATECODE2"/>
         <result property="catename2" column="CATENAME2"/>
      </association>
      
      <association javaType="ProductReview" property="prdreview">
      	<id property="re_num" column="RE_NUM"></id>
		<result property="prcode" column="PR_CODE"></result>
		<result property="re_title" column="RE_TITLE"></result>
		<result property="re_writer" column="RE_WRITER"></result>
		<result property="re_date" column="RE_Date"></result>
		<result property="re_content" column="RE_CONTENT"></result>
		<result property="re_thank" column="RE_THANK"></result>
		<result property="re_count" column="RE_COUNT"></result>
		<result property="re_status" column="RE_STATUS"></result>
		<result property="re_orign" column="RE_ORIGIN"></result>
		<result property="re_rename" column="RE_RENAME"></result>
	 </association>
      
   </resultMap>
   
   <resultMap id="favoriteResultSet" type="Favorite">
      <id property="mem_num" column="MEM_NUM"/>
      <id property="mb_bo_num" column="MB_BO_NUM"/>
      <id property="me_num" column="MB_NUM"/>
      
   <association javaType="Board" property="Tboard">
      <id property="mb_num" column="MB_BO_NUM"/>
      <result property="mb_title" column="TMB_TITLE"/>
      <result property="mb_content" column="TMB_CONTENT"/>
      <result property="mb_cdate" column="TMB_CDATE"/>
      <result property="mb_writer" column="TMB_WRITER"/>
      <result property="mb_image" column="TMB_IMAGE"/>
      <result property="mb_thank" column="TMB_THANK"/>
      <result property="mb_count" column="TMB_COUNT"/>
      <result property="mb_rcount" column="TMB_RCOUNT"/>
      <result property="mb_status" column="TMB_STATUS"/>
      <result property="mb_type" column="TMB_TYPE"/>
   </association>
      
   <association javaType="Board" property="Uboard">
      <id property="mb_num" column="MB_BO_NUM"/>
      <result property="mb_title" column="UMB_TITLE"/>
      <result property="mb_content" column="UMB_CONTENT"/>
      <result property="mb_cdate" column="UMB_CDATE"/>
      <result property="mb_writer" column="UMB_WRITER"/>
      <result property="mb_image" column="UMB_IMAGE"/>
      <result property="mb_thank" column="UMB_THANK"/>
      <result property="mb_count" column="UMB_COUNT"/>
      <result property="mb_rcount" column="UMB_RCOUNT"/>
      <result property="mb_status" column="UMB_STATUS"/>
      <result property="mb_type" column="UMB_TYPE"/>
   </association>
      
   </resultMap>
   
   <!-- 장바구니 -->
   <resultMap id="MyBagResultMap" type="MyBag">
   		<result property="mem_num" column="MEM_NUM"/>
   		<result property="mb_bo_num" column="MB_BO_NUM"/>
   		<result property="me_num" column="MB_NUM"/>
   		<result property="pr_code" column="PR_CODE"/>
   		<result property="pr_each" column="PR_EACH"/>
   		<association property="prd" select="selectOneProduct"
   					javaType="Product" column="{pcode=PR_CODE}"/>
   </resultMap>
   
   <!-- Product 상품 -->
   	<resultMap type="Product" id="productResultMap">
		<id property="pr_code" column="PR_CODE"/>
		<result property="pr_cate1" column="PR_CATE1"/>
		<result property="pr_cate2" column="PR_CATE2"/>
		<result property="pr_name" column="PR_NAME"/>
		<result property="pr_price" column="PR_PRICE"/>
		<result property="pr_content" column="PR_CONTENT"/>
		<result property="pr_carlory" column="PR_CARLORY"/>
		<result property="pr_from" column="PR_FROM"/>
		<result property="pr_size" column="PR_SIZE"/>
		<result property="pr_entity" column="PR_ENTITY"/>
		<result property="originalFileName" column="ORIGINAL_FILE_NAME"/>
		<result property="renameFileName" column="RENAME_FILE_NAME"/>
	</resultMap>
	
	<!-- Product 상품 리뷰 -->
	<resultMap  id="ReviewResultSet" type="ProductReview">
		<id property="re_num" column="RE_NUM"></id>
		<result property="prcode" column="PR_CODE"></result>
		<result property="re_title" column="RE_TITLE"></result>
		<result property="re_writer" column="RE_WRITER"></result>
		<result property="re_date" column="RE_Date"></result>
		<result property="re_content" column="RE_CONTENT"></result>
		<result property="re_thank" column="RE_THANK"></result>
		<result property="re_count" column="RE_COUNT"></result>
		<result property="re_status" column="RE_STATUS"></result>
		<result property="re_orign" column="RE_ORIGN"></result>
		<result property="re_rename" column="RE_RENAME"></result>
		<result property="mem_num" column="MEM_NUM"></result>
	</resultMap>
   
   <!-- Product매핑용 -->
   <select id="selectOneProduct" resultMap="productResultMap">
   		SELECT * FROM PRODUCT
		WHERE PR_CODE = #{pcode}
   </select>
   
   <!-- 로그인 -->
   <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
      SELECT * 
      FROM MEMBER
      WHERE MEM_ID=#{mem_id}
      AND MEM_PWD=#{mem_pwd}
      AND MEM_STATUS='Y'
   </select>
   
   <!-- 아이디 체크 -->
   <select id="idCheck" parameterType="string" resultType="_int">
      SELECT COUNT(*)
      FROM MEMBER
      WHERE MEM_ID=#{mem_id}
   </select>
   
   
   <!-- 회원가입 -->
   <insert id="insertMember" parameterType="Member">
      INSERT INTO MEMBER
      VALUES(SEQ_MEM_NUM.nextval,#{mem_id},#{mem_pwd},#{mem_email},#{mem_phone},#{mem_addr},#{mem_name},#{mem_gender},TO_DATE(#{mem_birth},'YYMMDD'),0,NULL,'Y',0,'SILVER','N',#{mem_sms_agree},#{mem_email_agree})
   </insert>
   
   <!-- 회원가입 이메일 인증  -->
   <update id="registSuccess" parameterType="Member">
      UPDATE MEMBER
      SET MEM_CERT = 'Y'
      WHERE MEM_ID = #{mem_id}
   </update>
   
   <!-- 회원 정보 수정 -->
   <update id="updateMember" parameterType="Member">
      UPDATE MEMBER
      SET 
      MEM_PWD=#{mem_pwd},
      MEM_NAME=#{mem_name},
      MEM_EMAIL=#{mem_email},
      MEM_PHONE=#{mem_phone},
      MEM_GENDER=#{mem_gender},
      MEM_BIRTH=TO_DATE(#{mem_birth},'YYMMDD'),
      MEM_SMS_AGREE=#{mem_sms_agree},
      MEM_EMAIL_AGREE=#{mem_email_agree}
      WHERE MEM_ID=#{mem_id}
   </update>
    <update id="adminupdateMember" parameterType="Member">
         UPDATE MEMBER
      SET 
      MEM_PWD=#{mem_pwd},
      MEM_NAME=#{mem_name},
      MEM_EMAIL=#{mem_email},
      MEM_PHONE=#{mem_phone},
      MEM_STATUS = #{mem_status}
      WHERE MEM_NUM=#{mem_num}
   </update>
   
   <!-- 회원 탈퇴 -->
   <update id="deleteMember" parameterType="string">
      UPDATE MEMBER
      SET MEM_STATUS='N'
      WHERE MEM_ID=#{mem_id}
   </update>
   
   <!-- 아이디 찾기 -->
   <select id="findId" parameterType="Member" resultMap="memberResultSet">
      SELECT *
      FROM MEMBER
      WHERE MEM_NAME = #{mem_name}
      AND MEM_EMAIL = #{mem_email}
      AND ROWNUM = 1
   </select>
   
   <!-- 비밀번호 찾기 -->
   <select id="pwdfind" parameterType="Member" resultMap="memberResultSet">
      SELECT *
      FROM MEMBER
      WHERE MEM_NAME=#{mem_name}
      AND MEM_ID=#{mem_id}
      AND MEM_EMAIL=#{mem_email}
   </select>
   
   <!-- 임시비밀번호로 pwd 재설정 -->
   <update id="changePwd" parameterType="Member">
      UPDATE MEMBER
      SET MEM_PWD = #{mem_pwd}
      WHERE MEM_ID=#{mem_id}
   </update>
   
   <!-- 마이페이지 주문 내역 리스트 갯수 조회 -->
   <select id="getOrderListCount" resultType="_int">
      SELECT COUNT(*)
      FROM MIROTIC
        WHERE MEM_NUM=#{mem_num}
   </select>
   
   <!-- 마이페이지 주문 내역 리스트 조회 -->
   <select id="selectOrderList" resultMap="miroticResultSet">
       SELECT *
      FROM MIROTIC MI
      LEFT JOIN PRODUCT PR
      ON MI.PR_CODE = PR.PR_CODE
      WHERE OR_STATUS LIKE '입금확인'
      ORDER BY OR_NUM DESC
      
   </select>
   
   <!-- 마이페이지  찜한레시피 갯수 조회 -->
   <select id="getRecipeListCount" resultType="_int">
      SELECT COUNT(*) 
      FROM FAVORITE
      WHERE MEM_NUM=#{mem_numm}
   </select>

   <!-- 마이페이지 찜한레시피 리스트 조회  -->
   <select id="selectRecipeList" resultMap="favoriteResultSet">
      SELECT * FROM FAVORITE 
      LEFT JOIN tv_menu_board ON favorite.mb_bo_num = tv_menu_board.tmb_num
      LEFT JOIN user_menu_board ON favorite.mb_bo_num = user_menu_board.umb_num
      WHERE MEM_NUM = #{mem_num}
   </select>
   
    <select id="selectAllRecipeList" resultMap="favoriteResultSet">
        SELECT * FROM FAVORITE 
      LEFT JOIN tv_menu_board ON favorite.mb_bo_num = tv_menu_board.tmb_num
      LEFT JOIN user_menu_board ON favorite.mb_bo_num = user_menu_board.umb_num
      WHERE MEM_NUM = #{mem_num}
   </select>
   
   <!-- 마이페이지 찜한레시피 전체 삭제 -->
   <delete id="deleteRecipeList" parameterType="_int">
      DELETE FROM FAVORITE WHERE MEM_NUM = #{mem_num}
   </delete>
   
   <!-- 마이페이지 찜한레시피 선택 삭제 -->
   <delete id="oneDeleteRecipeList" parameterType="Favorite">
      DELETE FROM FAVORITE WHERE MEM_NUM = #{mem_num} AND MB_BO_NUM = #{mb_bo_num} AND MB_NUM = #{me_num}
   </delete>
   
   <!-- 장바구니 테이블 -->
   <insert id="setMyBagList" parameterType="MyBag">
      INSERT INTO MYBAG
      VALUES(	#{mem_num},
      			#{mb_bo_num},
      			#{me_num},
      			#{pr_code},
      			#{pr_each}
      		)
   </insert>
   
   <select id="selectListProduct" parameterType="_int" resultMap="MyBagResultMap">
   		SELECT * FROM MYBAG
   		WHERE MEM_NUM = #{mem_num}
   </select>
   
   
   <select id="updateListProduct" parameterType="_int" resultMap="MyBagResultMap">
   		SELECT * FROM MYBAG
   		WHERE PR_CODE = #{value}
   </select>


   
   <delete id="deleteMybag" parameterType="MyBag">
   	DELETE FROM MYBAG
   	WHERE PR_CODE = #{pr_code}
   	AND MEM_NUM=#{mem_num}
   </delete>


   
   <delete id="selectDeleteMybag" parameterType="MyBag">
   		DELETE FROM MYBAG
   		WHERE MEM_NUM=#{mem_num}
   		AND MB_BO_NUM=#{mb_bo_num}
   		AND MB_NUM = #{me_num}
   		AND PR_CODE = #{pr_code}
   </delete>
   
   <update id="mergeMybag" parameterType="MyBag">
        <![CDATA[
        MERGE INTO MYBAG m
            USING dual
               on ( MEM_NUM = #{mem_num}
                    AND PR_CODE=#{pr_code}) 
             WHEN MATCHED THEN
             UPDATE SET
                 PR_EACH= PR_EACH + #{pr_each}
              WHEN NOT MATCHED THEN
                INSERT (MEM_NUM, MB_BO_NUM, MB_NUM, PR_CODE, PR_EACH) 
                values (#{mem_num}, #{mb_bo_num}, #{me_num}, #{pr_code},#{pr_each})
          ]]>
    </update>
    
    <select id="selectmemberlist" resultMap="memberResultSet">
SELECT * FROM MEMBER
</select>


<select id="selectmemberOne" resultMap="memberResultSet">
SELECT * FROM MEMBER 
WHERE MEM_NUM = #{mem_num}
</select>
<select id="searchmemberid" resultMap="memberResultSet">
SELECT * FROM MEMBER
WHERE MEM_ID like '%' || #{mkeyword} || '%'
</select>

<select id="searchmembername" resultMap="memberResultSet">
SELECT * FROM MEMBER
WHERE MEM_NAME like '%' || #{mkeyword} || '%'
</select>

<!-- 마이페이지 후기 리스트 -->
	<select id="selectlistMirotic" parameterType="Member" resultMap="miroticResultSet">
		 SELECT * FROM MIROTIC
        JOIN PRODUCT ON MIROTIC.PR_CODE = PRODUCT.PR_CODE
        JOIN CATE1 ON PRODUCT.PR_CATE1 = CATE1.CATECODE1
        JOIN CATE2 ON PRODUCT.PR_CATE2 = CATE2.CATECODE2
        LEFT JOIN  REVIEW ON MIROTIC.OR_NUM = REVIEW.OR_NUM
        WHERE MIROTIC.MEM_NUM=#{mem_num} AND OR_STATUS='배송완료'
        ORDER BY OR_DATE DESC
	</select>

	<!-- 마이페이지 후기 삭제 -->
	<update id="reviewDeleteList" parameterType="_int">
		UPDATE REVIEW
		SET RE_STATUS='N'
		WHERE RE_NUM = #{re_num}
	</update>
		
	<!-- 마이페이지 후기 작성 -->
	<insert id="reviewinsert" parameterType="ProductReview">
		INSERT INTO REVIEW
		VALUES(#{prcode},SEQ_RE_NUM.NEXTVAL,#{re_title},#{re_writer},#{re_content},0,0,'Y',#{re_orign},#{re_rename},SYSDATE,#{mem_num},#{or_num})
	</insert>	
	
   <select id="OneProduct" parameterType="_int" resultType="Product">
   		SELECT * FROM PRODUCT
		WHERE PR_CODE = #{value}
   </select>	
	
	<!-- 마이페이지 주문 내역 리스트 조회 -->
   <select id="orderdetailList" resultMap="miroticDetailResultSet">
		 SELECT 
		MIROTIC.OR_NUM,
		MB_NUM,
		MB_EACH,
		PR_EACH,
		OR_TOTAL,
		OR_DATE,
		OR_STATUS,
		SENDER_NAME ,
		SENDER_ADDR, 
		SENDER_PHONE ,
		MIROTIC.SHIPPING_CODE ,
		MIROTIC.PR_CODE MRPR_CODE,
		PRODUCT.PR_CODE PRPR_CODE,
		PR_NAME ,
		PR_PRICE,
		RENAME_FILE_NAME,
		RECEIVER_NAME,
		RECEIVER_ADDR,
		RECEIVER_PHONE,
		SHIPPING_REQUEST,
		SHIPPING_STATUS,
		SHIPPING.OR_NUM
		FROM MIROTIC
		JOIN PRODUCT ON MIROTIC.PR_CODE = PRODUCT.PR_CODE
		LEFT JOIN SHIPPING ON MIROTIC.OR_NUM = SHIPPING.OR_NUM
		WHERE MIROTIC.OR_NUM=#{or_num}   
   </select>
</mapper>







