<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miroticMapper">

	<!-- resultMap -->
	<!-- 주문테이블 매핑 -->
	<resultMap type="Mirotic" id="miroticResultMap">
		<id property="or_num" column="OR_NUM"/>
		<result property="me_num" column="MB_NUM"/>
		<result property="pr_code" column="PR_CODE"/>
		<result property="pr_each" column="PR_EACH"/>
		<result property="or_total" column="OR_TOTAL"/>
		<result property="or_date" column="OR_DATE"/>
		<result property="or_state" column="OR_DATE"/>
		<result property="sender_name" column="SENDER_NAME"/>
		<result property="sender_addr" column="SENDER_ADDR"/>
		<result property="sender_phone" column="SENDER_PHONE"/>
		<result property="shipping_code" column="SHIPPING_CODE"/>
		<association property="m" select="selectOneMember"
					 javaType="Member" column="{mem_num=MEM_NUM}"
					/>
	</resultMap>

	<!-- 멤버테이블 매핑 -->	
   <resultMap id="memberResultSet" type="Member">
      <id property="mem_num" column="MEM_NUM"/>
      <result property="mem_id" column="MEM_ID"/>
      <result property="mem_pwd" column="MEM_PWD"/>
      <result property="mem_email" column="MEM_EMAIL"/>
      <result property="mem_phone" column="MEM_PHONE"/>
      <result property="mem_addr" column="MEM_ADDR"/>
      <result property="mem_name" column="MEM_NAME"/>
      <result property="mem_gender" column="MEM_GENDER"/>
      <result property="mem_birth" column="MEM_BIRTH"/>
      <result property="mem_point" column="MEM_POINT"/>
      <result property="mem_profile" column="MEM_PROFILE"/>
      <result property="mem_status" column="MEM_STATUS"/>
      <result property="shipping_code" column="SHIPPING_CODE"/>
      <result property="mem_grade" column="MEM_GRADE"/>
      <result property="mem_cert" column="MEM_CERT"/>
      <result property="mem_sms_agree" column="MEM_SMS_AGREE"/>
      <result property="mem_email_agree" column="MEM_EMAIL_AGREE"/>
   </resultMap>
	
		
	<!-- Query -->
	<!-- 멤버 한명 셀렉트 -->
	<select id="selectOneMember" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEM_NUM = #{mem_num}
	</select>
	
	<update id="updateCartList" parameterType="MyBag">
		UPDATE MYBAG
		SET PR_EACH = #{pr_each}
		WHERE MEM_NUM = #{mem_num}
		AND PR_CODE = #{pr_code}
	</update>
	
	<insert id="insertMirotic" parameterType="Mirotic">
		INSERT INTO MIROTIC
		VALUES(SEQ_MIROTIC.NEXTVAL, 0, 0, #{pr_code}
		, #{pr_each}, #{or_total}, SYSDATE, '0'
		, #{sender_name}, #{sender_addr}, #{sender_phone}
		, 0, #{mem_num})
	</insert>
	
	<select id="selectOneMirotic" parameterType="Mirotic" resultType="_int">
		SELECT OR_NUM FROM MIROTIC
		WHERE SENDER_NAME = #{sender_name}
		AND SENDER_PHONE=#{sender_phone}
		AND SENDER_ADDR=#{sender_addr}
		AND PR_CODE = #{pr_code}
		AND PR_EACH = #{pr_each}
	</select>
	
	<update id="updateMiroticSuccess" parameterType="Mirotic">
		UPDATE MIROTIC
		SET OR_STATUS = "입금확인"
		WHERE SENDER_NAME = #{sender_name}
		AND SENDER_PHONE=#{sender_phone}
		AND SENDER_ADDR=#{sender_addr}
		AND PR_CODE = #{pr_code}
		AND PR_EACH = #{pr_each}
	</update>
	
	<insert id="insertMiroticList" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO MIROTIC
			VALUES(
				  <choose>
				    <when test="index == 0">
				      SEQ_SHIPPING.NEXTVAL
				    </when>
				    <otherwise>
				      SEQ_SHIPPING.CURRVAL
				    </otherwise>
				  </choose>
				
				, 0, 0, #{item.pr_code}
			, #{item.pr_each}, #{item.or_total}, SYSDATE, '0'
			, #{item.sender_name}, #{item.sender_addr}, #{item.sender_phone}
			, 0, #{item.mem_num})
		</foreach>
		
	</insert>
	
	<select id="returnOrNum" resultType="_int">
		SELECT SEQ_SHIPPING.CURRVAL FROM DUAL
	</select>
	 
	 <!-- 배송테이블 업데이트 -->
	 <insert id="insertShipping" parameterType="Shipping">
	 	INSERT INTO SHIPPING
		VALUES(seq_shipping.nextval, '배송준비중', 3000 
		, #{receiver_name}, #{receiver_addr}, #{receiver_phone}, 1
		, #{shipping_request}, SYSDATE, #{or_num});
	 </insert>
	 
	 
</mapper>









