<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

	<resultMap id="productResultSet" type="Product">
		<id property="pr_code" column="PR_CODE"/>
		<result property="pr_cate1" column="PR_CATE1"/>
		<result property="pr_cate2" column="PR_CATE2"/>
		<result property="pr_name" column="PR_NAME"/>
		<result property="pr_price" column="PR_PRICE"/>
		<result property="pr_content" column="PR_CONTENT"/>
		<result property="pr_carlory" column="PR_CARLORY"/>
		<result property="pr_from" column="PR_FROM"/>
		<result property="pr_size" column="PR_SIZE"/>
		<result property="pr_entity" column="PR_ENTITY"/>
		<result property="originalFileName" column="ORIGINAL_FILE_NAME"/>
		<result property="renameFileName" column="RENAME_FILE_NAME"/>
	</resultMap>
	
	<resultMap id="ProductRankResultSet" type="ProductRank">
	<id property="pr_code" column="PR_CODE"/>
	<result property="sum" column="SUM(MIROTIC.PR_EACH)"/>
	
	</resultMap>
	
	
	<resultMap  id="ReviewResultSet" type="ProductReview">
		<id property="re_num" column="RE_NUM"></id>
		<result property="prcode" column="PR_CODE"></result>
		<result property="re_title" column="RE_TITLE"></result>
		<result property="re_writer" column="RE_WRITER"></result>
		<result property="re_date" column="RE_Date"></result>
		<result property="re_content" column="RE_CONTENT"></result>
		<result property="re_thank" column="RE_THANK"></result>
		<result property="re_count" column="RE_COUNT"></result>
		<result property="re_status" column="RE_STATUS"></result>
		<result property="re_orign" column="RE_ORIGN"></result>
		<result property="re_rename" column="RE_RENAME"></result>
		<result property="mem_num" column="MEM_NUM"></result>
		<result property="or_num" column="OR_NUM"></result>
	</resultMap>
	
	
	<select id ="getListCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT
	</select>

	<insert id="insertproduct" parameterType="Product">
		INSERT INTO PRODUCT
		VALUES (SEQ_PR_CODE.NEXTVAL,#{pr_cate1},#{pr_cate2},
		#{pr_name},#{pr_price},#{pr_content},
		#{pr_carlory},#{pr_from},#{pr_size},#{pr_entity},
		#{originalFileName},#{renameFileName})
		
	</insert>
	
	<select id="selectfourlist" parameterType="String" resultMap="productResultSet">
	 <![CDATA[ 
	SELECT * FROM (
	SELECT  * FROM PRODUCT ORDER BY PR_CODE DESC
	) WHERE ROWNUM<5 AND PR_CATE1=#{maincate}
	]]>
	</select>
	
	<select id="selectsublist" parameterType="String" resultMap="productResultSet">
	SELECT * FROM PRODUCT
	WHERE PR_CATE1 = #{subcate}
	</select>

	<select id="selectOne" parameterType="Product" resultMap="productResultSet">
	SELECT * FROM PRODUCT
	WHERE PR_CODE = #{pr_code}
	</select>
	
	<select id="selectList" resultMap="productResultSet">
	SELECT * FROM PRODUCT
	ORDER BY PR_CODE DESC
	</select>
	
	<update id="updateOne" parameterType="Product">
	UPDATE PRODUCT
	SET 
	PR_CATE1=#{pr_cate1},
	PR_CATE2=#{pr_cate2},
	PR_NAME=#{pr_name},
	PR_PRICE=#{pr_price},
	PR_CONTENT=#{pr_content},
	PR_FROM=#{pr_from},
	PR_SIZE=#{pr_size},
	ORIGINAL_FILE_NAME=#{originalFileName},
	RENAME_FILE_NAME=#{renameFileName}
	WHERE PR_CODE = #{pr_code}
	
	
	</update>

	<select id="selectlowercount" parameterType="subcate" resultType="_int">
	SELECT COUNT(*) FROM PRODUCT
	WHERE PR_CATE1=#{upcate} AND PR_CATE2= #{catecode2}
	</select>
	
	<select id="lowerproductlist" parameterType="subcate" resultMap="productResultSet">
	SELECT * FROM PRODUCT
	WHERE PR_CATE1=#{upcate} AND PR_CATE2= #{catecode2}
	</select>
	
	<select id="getListProductReview" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW 
		WHERE RE_STATUS='Y' AND PR_CODE= #{pr_code}
	</select>	
	
	<select id="ReviewselectList" resultMap="ReviewResultSet">
       SELECT *
		FROM REVIEW
		WHERE RE_STATUS='Y' AND PR_CODE = #{pr_code}
		ORDER BY RE_NUM DESC
	</select>
	
	
	
	<update id="ReviewCount" parameterType="_int">
		UPDATE REVIEW
		SET RE_COUNT = RE_COUNT +1
		WHERE RE_NUM=#{re_num}
	</update>
	
	<select id="Reviewselect" resultMap="ReviewResultSet"  parameterType="_int">
		SELECT *
		FROM REVIEW
		WHERE RE_STATUS='Y' AND RE_NUM=#{RE_NUM}
	</select>
	
<delete id="removeProduct" parameterType="_int">
	DELETE FROM PRODUCT
	WHERE PR_CODE=#{pr_code}
	</delete>
	
		<select id="productranklist" resultMap="ProductRankResultSet">
 <![CDATA[
 select * from(
     select product.pr_code , sum(mirotic.pr_each) from mirotic join product on product.pr_code = mirotic.pr_code 
     group by product.pr_code
     order by sum(mirotic.pr_each) desc) where rownum<5
 ]]>
	</select>

	<update id="updateProductEntity" parameterType="Mirotic">
		UPDATE PRODUCT
		SET PR_ENTITY = PR_ENTITY - #{pr_each}
		WHERE PR_CODE = #{pr_code}
	</update>
</mapper>
