<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ServiceCenterMapper">
	<!-- resultMap -->
	<resultMap type="Notice" id="NoticeboardResultSet">
		<id property="NOTICE_NUM" column="NOTICE_NUM"/>
		<result property="NOTICE_TITLE" column="NOTICE_TITLE"/>
		<result property="NOTICE_CONTENT" column="NOTICE_CONTENT"/>
		<result property="NOTICE_WRITER" column="NOTICE_WRITER"/>
		<result property="NOTICE_CDATE" column="NOTICE_CDATE"/>
		<result property="NOTICE_STATUS" column="NOTICE_STATUS"/>
		<result property="NOTICE_COUNT" column="NOTICE_COUNT"/>	
	</resultMap>
	
	<resultMap type="Qna" id="QnaboardResultSet">
		<id property="q_NUM" column="Q_NUM"/>
		<result property="q_TITLE" column="Q_TITLE"/>
		<result property="q_CONTENT" column="Q_CONTENT"/>
		<result property="q_WRITER" column="Q_WRITER"/>
		<result property="oR_NUM" column="OR_NUM"/>
		<result property="q_STATUS" column="Q_STATUS"/>
		<result property="q_CDATE" column="Q_CDATE"/>
		<result property="q_COUNT" column="Q_COUNT"/>
		<result property="q_RCOUNT" column="Q_RCOUNT"/>
		<result property="q_CATEGORY" column="Q_CATEGORY"/>
	</resultMap>
	
	<select id="getListCountNotice" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE NOTICE_STATUS='Y'
	</select>	
	
	<select id="NoticeselectList" resultMap="NoticeboardResultSet">
		SELECT *
		FROM NOTICE
		WHERE NOTICE_STATUS='Y'
		ORDER BY NOTICE_NUM DESC
	</select>
	
	<select id="getListCountQna" resultType="_int">
		SELECT COUNT(*)
		FROM QNA_BOARD
		WHERE Q_STATUS='Y'
	</select>
	
	<select id="QnaselectList" resultMap="QnaboardResultSet">
        SELECT *
		FROM QNA_BOARD
		WHERE Q_STATUS='Y'
		ORDER BY Q_NUM DESC
	</select>
	
	<insert id="QNAinsert" parameterType="Qna">
		INSERT INTO QNA_BOARD
		VALUES(SEQ_QNA.NEXTVAL, #{q_TITLE},#{q_CONTENT},#{q_WRITER},#{oR_NUM},'Y',SYSDATE,#{q_COUNT},#{q_RCOUNT},#{q_CATEGORY})
	
	</insert>
	
</mapper>






