<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TVboardMapper">
	<!-- resultMap -->
	<resultMap type="Board" id="boardResultSet">
		<id property="MB_NUM" column="TMB_NUM"/>
		<result property="MB_TITLE" column="TMB_TITLE"/>
		<result property="MB_CONTENT" column="TMB_CONTENT"/>
		<result property="MB_CDATE" column="TMB_CDATE"/>
		<result property="MB_WRITER" column="TMB_WRITER"/>
		<result property="MB_IMAGE" column="TMB_IMAGE"/>
		<result property="MB_THANK" column="TMB_THANK"/>
		<result property="MB_COUNT" column="TMB_COUNT"/>
		<result property="MB_RCOUNT" column="TMB_RCOUNT"/>
		<result property="MB_STATUS" column="TMB_STATUS"/>
		<result property="MB_TYPE" column="TMB_TYPE"/>
	</resultMap>
	
	<resultMap type="TBoard" id="tvBoardResultSet">
		<id property="MB_NUM" column="TMB_NUM"/>
		<result property="MB_TITLE" column="TMB_TITLE"/>
		<result property="MB_CONTENT" column="TMB_CONTENT"/>
		<result property="MB_CDATE" column="TMB_CDATE"/>
		<result property="MB_WRITER" column="TMB_WRITER"/>
		<result property="MB_IMAGE" column="TMB_IMAGE"/>
		<result property="MB_THANK" column="TMB_THANK"/>
		<result property="MB_COUNT" column="TMB_COUNT"/>
		<result property="MB_RCOUNT" column="TMB_RCOUNT"/>
		<result property="MB_STATUS" column="TMB_STATUS"/>
		<result property="MB_TYPE" column="TMB_TYPE"/>
		<result property="MC_CATE_NUM" column="MC_CATE_NUM"/>
		<association property="mc" select="selectOneMC"
				javaType="Menu_Category" column="MC_CATE_NUM"
				/>
	</resultMap>

	<resultMap type="Menu_Category" id="mcResultSet">
		<id property="mc_cate_num" column="MC_CATE_NUM"/>
		<result property="mc_name" column="MC_NAME"/>
		
	</resultMap>
	
	<select id="selectOneMC" resultType="Menu_Category">
		SELECT * FROM MENU_CATEGORY
		WHERE MC_STATUS='Y'
		AND MC_CATE_NUM = #{MC_CATE_NUM}
	</select>
	
<!-- 	<resultMap type="Reply" id="replyResultSet">
		<id property="rId" column="RID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="refBid" column="REF_BID"/>
		<result property="rWriter" column="RWRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_STATUS='Y'
		ORDER BY BID DESC
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BID.NEXTVAL, #{bTitle},#{bWriter},#{bContent},#{originalFileName},#{renameFileName},
				DEFAULT,SYSDATE,SYSDATE,DEFAULT)
	
	</insert>
	
	<update id="updateCount" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT = BCOUNT +1
		WHERE BID=#{bId}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT * 
		FROM BOARD
		WHERE BID=#{bId}
		AND B_STATUS='Y'
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET BTITLE=#{bTitle},BCONTENT=#{bContent},
			ORIGINAL_FILENAME=#{originalFileName},RENAME_FILENAME=#{renameFileName},
			B_MODIFY_DATE=SYSDATE
		WHERE BID=#{bId}
	</update>
	
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET B_STATUS='N'
		WHERE BID=#{bId}
	</update>
	
	<select id="selectTopList" resultMap="boardResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT *
		 	  FROM BOARD
		 	  ORDER BY BID DESC)
		WHERE ROWNUM <= 5	
		]]>
	</select>
	
	<select id="selectReplyList" resultMap="replyResultSet" parameterType="_int">
		SELECT *
		FROM REPLY
		WHERE REF_BID=#{bId}
		AND R_STATUS ='Y'
		ORDER BY RID DESC
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES
		(SEQ_RID.NEXTVAL,#{rContent},#{refBid},#{rWriter},SYSDATE,SYSDATE,DEFAULT)
	</insert> -->
	
	<select id="TvTop10selectList" resultMap="boardResultSet">
		<![CDATA[
			SELECT *
			FROM (SELECT *
			 	  FROM TV_MENU_BOARD
			 	  ORDER BY TMB_THANK DESC)
			WHERE ROWNUM <= 10
		]]>
	</select>
	
	<select id="TvCateList" resultMap="mcResultSet">
		SELECT *
		FROM MENU_CATEGORY
		WHERE MC_STATUS='Y'
	</select>
	
	<select id="tvBoardList" parameterType="_int" resultMap="tvBoardResultSet">
		SELECT *
		FROM TV_MENU_BOARD
		WHERE TMB_STATUS='Y'
		<if test="value != 0">
  			AND MC_CATE_NUM = #{cNum}
  		</if>
		ORDER BY TMB_NUM DESC
		
  		
	</select>
	
	<update id="updateCount" parameterType="_int">
		UPDATE TV_MENU_BOARD
		SET TMB_COUNT = TMB_COUNT +1
		WHERE TMB_NUM=#{MB_NUM}
	</update>

	<select id="selectBoard" resultMap="boardResultSet">
		SELECT * 
		FROM TV_MENU_BOARD
		WHERE TMB_NUM=#{MB_NUM}
		AND TMB_STATUS='Y'
	</select>
	
	<select id="tvListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM TV_MENU_BOARD
		WHERE TMB_STATUS='Y'
		<if test="value !=0">
			AND MC_CATE_NUM= #{mc_cate_num}
		</if>
	</select>
	
	<select id="tvSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM TV_MENU_BOARD
		WHERE TMB_STATUS='Y'
		<if test="mc_cate_num !=0">
			AND MC_CATE_NUM= #{mc_cate_num}
		</if>
		<choose>
			<when test="src_cate.equals('title')">
				AND TMB_TITLE LIKE '%'|| #{src_input} || '%'
			</when>
		</choose>
	</select>
	
	<select id="tvSearchList" resultMap="tvBoardResultSet">
		SELECT * FROM TV_MENU_BOARD WHERE TMB_STATUS='Y'
		<if test="mc_cate_num !=0">
			AND MC_CATE_NUM= #{mc_cate_num}
		</if>
		<choose>
			<when test="src_cate.equals('title')">
				AND TMB_TITLE LIKE '%'|| #{src_input} || '%'
			</when>
		</choose>
		ORDER BY TMB_NUM DESC
	</select>
	
	
	
	
</mapper>