<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="USERboardMapper">
	<!-- resultMap -->
	<resultMap type="Board" id="boardResultSet">
		<id property="MB_NUM" column="UMB_NUM"/>
		<result property="MB_TITLE" column="UMB_TITLE"/>
		<result property="MB_CONTENT" column="UMB_CONTENT"/>
		<result property="MB_CDATE" column="UMB_CDATE"/>
		<result property="MB_WRITER" column="UMB_WRITER"/>
		<result property="MB_IMAGE" column="UMB_IMAGE"/>
		<result property="MB_THANK" column="UMB_THANK"/>
		<result property="MB_COUNT" column="UMB_COUNT"/>
		<result property="MB_RCOUNT" column="UMB_RCOUNT"/>
		<result property="MB_STATUS" column="UMB_STATUS"/>
		<result property="MB_TYPE" column="UMB_TYPE"/>
	</resultMap>

	
<!-- 	<resultMap type="Reply" id="replyResultSet">
		<id property="rId" column="RID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="refBid" column="REF_BID"/>
		<result property="rWriter" column="RWRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_STATUS='Y'
		ORDER BY BID DESC
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BID.NEXTVAL, #{bTitle},#{bWriter},#{bContent},#{originalFileName},#{renameFileName},
				DEFAULT,SYSDATE,SYSDATE,DEFAULT)
	
	</insert>
	
	<update id="updateCount" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT = BCOUNT +1
		WHERE BID=#{bId}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT * 
		FROM BOARD
		WHERE BID=#{bId}
		AND B_STATUS='Y'
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET BTITLE=#{bTitle},BCONTENT=#{bContent},
			ORIGINAL_FILENAME=#{originalFileName},RENAME_FILENAME=#{renameFileName},
			B_MODIFY_DATE=SYSDATE
		WHERE BID=#{bId}
	</update>
	
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET B_STATUS='N'
		WHERE BID=#{bId}
	</update>
	
	<select id="selectTopList" resultMap="boardResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT *
		 	  FROM BOARD
		 	  ORDER BY BID DESC)
		WHERE ROWNUM <= 5	
		]]>
	</select>
	
	<select id="selectReplyList" resultMap="replyResultSet" parameterType="_int">
		SELECT *
		FROM REPLY
		WHERE REF_BID=#{bId}
		AND R_STATUS ='Y'
		ORDER BY RID DESC
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES
		(SEQ_RID.NEXTVAL,#{rContent},#{refBid},#{rWriter},SYSDATE,SYSDATE,DEFAULT)
	</insert> -->
	
	<select id="UserTop10selectList" resultMap="boardResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT *
		 	  FROM USER_MENU_BOARD
		 	  ORDER BY UMB_THANK DESC)
		WHERE ROWNUM <= 10
		]]>
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM USER_MENU_BOARD
		WHERE UMB_STATUS='Y'
	</select>
	
	<select id="UserselectList" resultMap="boardResultSet">
		SELECT *
		FROM USER_MENU_BOARD
		WHERE UMB_STATUS='Y'
		ORDER BY UMB_NUM DESC
	</select>
	
	<update id="updateCount" parameterType="_int">
		UPDATE USER_MENU_BOARD
		SET UMB_COUNT = UMB_COUNT +1
		WHERE UMB_NUM=#{MB_NUM}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT * 
		FROM USER_MENU_BOARD
		WHERE UMB_NUM=#{MB_NUM}
		AND UMB_STATUS='Y'
	</select>
	
	<select id="userSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM USER_MENU_BOARD
		WHERE UMB_STATUS='Y'
		<if test="mc_cate_num != 101">
			AND MC_CATE_NUM= #{mc_cate_num}
		</if>
			AND UMB_TITLE LIKE '%'|| #{src_input} || '%'
	</select>
	
	<select id="userSearchList" resultMap="boardResultSet">
		SELECT * FROM USER_MENU_BOARD WHERE UMB_STATUS='Y'
		<if test="mc_cate_num !=101">
			AND MC_CATE_NUM= #{mc_cate_num}
		</if>
		AND UMB_TITLE LIKE '%'|| #{src_input} || '%'
		ORDER BY UMB_NUM DESC
	</select>
	
	
	
	
	
	
	
	
</mapper>