<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="USERboardMapper">
	<!-- resultMap -->
	<resultMap type="Board" id="boardResultSet">
		<id property="mb_num" column="UMB_NUM"/>
		<result property="mb_title" column="UMB_TITLE"/>
		<result property="mb_content" column="UMB_CONTENT"/>
		<result property="mb_cdate" column="UMB_CDATE"/>
		<result property="mb_writer" column="UMB_WRITER"/>
		<result property="mb_origin" column="UMB_ORIGIN"/>
		<result property="mb_rename" column="UMB_RENAME"/>
		<result property="mb_thank" column="UMB_THANK"/>
		<result property="mb_count" column="UMB_COUNT"/>
		<result property="mb_rcount" column="UMB_RCOUNT"/>
		<result property="mb_status" column="UMB_STATUS"/>
		<!-- <result property="mb_type" column="UMB_TYPE"/> -->
		<result property="mc_cate_num" column="MC_CATE_NUM"/>
		<result property="mb_serving" column="UMB_SERVING"/>
		<result property="mb_time" column="UMB_TIME"/>
		<result property="mb_level" column="UMB_LEVEL"/>
	</resultMap>
	
	<resultMap type="Product" id="productResultMap">
		<id property="pr_code" column="PR_CODE"/>
		<result property="pr_cate1" column="PR_CATE1"/>
		<result property="pr_cate2" column="PR_CATE2"/>
		<result property="pr_name" column="PR_NAME"/>
		<result property="pr_price" column="PR_PRICE"/>
		<result property="pr_content" column="PR_CONTENT"/>
		<result property="pr_carlory" column="PR_CARLORY"/>
		<result property="pr_from" column="PR_FROM"/>
		<result property="pr_size" column="PR_SIZE"/>
		<result property="pr_entity" column="PR_ENTITY"/>
		<result property="originalFileName" column="ORIGINAL_FILE_NAME"/>
		<result property="renameFileName" column="RENAME_FILE_NAME"/>
	</resultMap>
	
	<resultMap type="DetailBoard" id="DetailBoardResultSet">
		<id property="mb_num" column="UMB_NUM"/>
		<result property="mb_title" column="UMB_TITLE"/>
		<result property="mb_content" column="UMB_CONTENT"/>
		<result property="mb_cdate" column="UMB_CDATE"/>
		<result property="mb_writer" column="UMB_WRITER"/>
		<result property="mb_origin" column="UMB_ORIGIN"/>
		<result property="mb_rename" column="UMB_RENAME"/>
		<result property="mb_thank" column="UMB_THANK"/>
		<result property="mb_count" column="UMB_COUNT"/>
		<result property="mb_rcount" column="UMB_RCOUNT"/>
		<result property="mb_status" column="UMB_STATUS"/>
		<result property="mb_type" column="UMB_TYPE"/>
		<result property="mc_cate_num" column="MC_CATE_NUM"/>
		
		<collection property="brlist"
					ofType="BoardReply"
					select="selectListBoardReply"
					column="UMB_NUM"
					/>
		<collection property="belist"
					ofType="BoardExp"
					select="selectListBoardExp"
					column="UMB_NUM"
					/>
		<collection property="bplist"
					ofType="BoardProduct"
					select="selectListBoardProduct"
					column="UMB_NUM"
					/>
	</resultMap>

	<resultMap type="BoardReply" id="BoardReplyMap">
		<id property="rId" column="UMR_NUM"></id>
		<result property="bId" column="UMB_NUM"></result>
		<result property="content" column="UMR_CONTENT"></result>
		<result property="writer" column="UMR_WRITER"></result>
		<result property="cdate" column="UMR_CDATE"></result>
		<result property="thank" column="UMR_THANK"></result>
	</resultMap>
	
	<resultMap type="BoardExp" id="BoardExpMap">
		<result property="bId" column="UMB_NUM"/>
		<result property="origin" column="UME_ORIGIN"></result>
		<result property="rename" column="UME_RENAME"></result>
		<result property="content" column="UME_CONTENT"></result>
		<result property="seq" column="UME_SEQ"></result>
	</resultMap>
	
	<resultMap type="BoardProduct" id="BoardProductMap">
		<result property="bId" column="UMB_NUM"/>
		<result property="pcode" column="PR_CODE"></result>
		<result property="peach" column="PR_EACH"></result>
		<association property="prd" select="selectOneProduct"
				javaType="product" column="{pcode = PR_CODE}"/>
	</resultMap>
	
		<resultMap id="favoriteResultSet" type="Favorite">
      <id property="mem_num" column="MEM_NUM"/>
      <id property="mb_bo_num" column="MB_BO_NUM"/>
      <id property="me_num" column="MB_NUM"/>
      
   <association javaType="Board" property="Tboard">
      <id property="mb_num" column="MB_BO_NUM"/>
      <result property="mb_title" column="TMB_TITLE"/>
      <result property="mb_content" column="TMB_CONTENT"/>
      <result property="mb_cdate" column="TMB_CDATE"/>
      <result property="mb_writer" column="TMB_WRITER"/>
      <result property="mb_image" column="TMB_IMAGE"/>
      <result property="mb_thank" column="TMB_THANK"/>
      <result property="mb_count" column="TMB_COUNT"/>
      <result property="mb_rcount" column="TMB_RCOUNT"/>
      <result property="mb_status" column="TMB_STATUS"/>
      <result property="mb_type" column="TMB_TYPE"/>
   </association>
      
   <association javaType="Board" property="Uboard">
      <id property="mb_num" column="MB_BO_NUM"/>
      <result property="mb_title" column="UMB_TITLE"/>
      <result property="mb_content" column="UMB_CONTENT"/>
      <result property="mb_cdate" column="UMB_CDATE"/>
      <result property="mb_writer" column="UMB_WRITER"/>
      <result property="mb_image" column="UMB_IMAGE"/>
      <result property="mb_thank" column="UMB_THANK"/>
      <result property="mb_count" column="UMB_COUNT"/>
      <result property="mb_rcount" column="UMB_RCOUNT"/>
      <result property="mb_status" column="UMB_STATUS"/>
      <result property="mb_type" column="UMB_TYPE"/>
   </association>
      
   </resultMap>
	
	<select id="selectOneProduct" resultMap="productResultMap">
		SELECT * FROM PRODUCT
		WHERE PR_CODE = #{pcode}
	</select>
	
	<select id="UserTop10selectList" resultMap="boardResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT *
		 	  FROM USER_MENU_BOARD
		 	  ORDER BY UMB_THANK DESC)
		WHERE ROWNUM <= 10
		]]>
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM USER_MENU_BOARD
		WHERE UMB_STATUS='Y'
	</select>
	
	<select id="UserselectList" resultMap="boardResultSet">
		SELECT *
		FROM USER_MENU_BOARD
		WHERE UMB_STATUS='Y'
		ORDER BY UMB_NUM DESC
	</select>
	
	<update id="updateCount" parameterType="_int">
		UPDATE USER_MENU_BOARD
		SET UMB_COUNT = UMB_COUNT +1
		WHERE UMB_NUM=#{MB_NUM}
	</update>
	
	<select id="selectBoard" resultMap="DetailBoardResultSet">
		SELECT * 
		FROM USER_MENU_BOARD
		WHERE UMB_NUM=#{MB_NUM}
		AND UMB_STATUS='Y'
	</select>
	
	<select id="selectListBoardReply" resultMap="BoardReplyMap" parameterType="_int">
		SELECT * FROM USER_MENU_REPLY
		WHERE UMB_NUM= #{value} AND UMR_STATUS='Y'
		ORDER BY UMR_NUM
	</select>
	
	<select id="selectListBoardExp" resultMap="BoardExpMap" parameterType="_int">
		SELECT * FROM USER_MENU_EXPLAIN
		WHERE UMB_NUM= #{value}
	</select>
	
	<select id="selectListBoardProduct" resultMap="BoardProductMap" parameterType="_int">
		SELECT * FROM USER_MENU_PRODUCT
		WHERE UMB_NUM= #{value}
	</select>
	
	<select id="userSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM USER_MENU_BOARD
		WHERE UMB_STATUS='Y'
		<if test="mc_cate_num != 101">
			AND MC_CATE_NUM= #{mc_cate_num}
		</if>
			AND UMB_TITLE LIKE '%'|| #{src_input} || '%'
	</select>
	
	<select id="userSearchList" resultMap="boardResultSet">
		SELECT * FROM USER_MENU_BOARD WHERE UMB_STATUS='Y'
		<if test="mc_cate_num !=101">
			AND MC_CATE_NUM= #{mc_cate_num}
		</if>
		AND UMB_TITLE LIKE '%'|| #{src_input} || '%'
		ORDER BY UMB_NUM DESC
	</select>
	
	<select id="UserselectList_ko" resultMap="boardResultSet">
		<![CDATA[
			SELECT * FROM (SELECT * FROM USER_MENU_BOARD WHERE MC_CATE_NUM = 102
			ORDER BY DBMS_RANDOM.VALUE)
			WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="UserselectList_en" resultMap="boardResultSet">
		<![CDATA[
			SELECT * FROM (SELECT * FROM USER_MENU_BOARD WHERE MC_CATE_NUM = 103
			ORDER BY DBMS_RANDOM.VALUE)
			WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="UserselectList_jp" resultMap="boardResultSet">
		<![CDATA[
			SELECT * FROM (SELECT * FROM USER_MENU_BOARD WHERE MC_CATE_NUM = 104
			ORDER BY DBMS_RANDOM.VALUE)
			WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="UserselectList_ch" resultMap="boardResultSet">
		<![CDATA[
			SELECT * FROM (SELECT * FROM USER_MENU_BOARD WHERE MC_CATE_NUM = 105
			ORDER BY DBMS_RANDOM.VALUE)
			WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="UserselectList_etc" resultMap="boardResultSet">
		<![CDATA[
			SELECT * FROM (SELECT * FROM USER_MENU_BOARD WHERE MC_CATE_NUM = 106
			ORDER BY DBMS_RANDOM.VALUE)
			WHERE ROWNUM <= 4
		]]>
	</select>
	
	<update id="USERheartPlus" parameterType="Favorite">
	<![CDATA[
		BEGIN
    		INSERT INTO FAVORITE VALUES(#{mem_num},#{mb_bo_num} ,#{me_num});
    		UPDATE USER_MENU_BOARD
        	SET UMB_THANK= UMB_THANK+1
        	WHERE UMB_NUM = #{mb_bo_num};
		END;
	]]>
	</update> 
	
	<update id="USERheartMinus" parameterType="Favorite">
	<![CDATA[
		BEGIN
    		DELETE FROM FAVORITE WHERE MEM_NUM = #{mem_num} AND MB_BO_NUM = #{mb_bo_num} AND MB_NUM = #{me_num};
    		UPDATE USER_MENU_BOARD
        	SET UMB_THANK= UMB_THANK-1
        	WHERE UMB_NUM = #{mb_bo_num};
		END;
	]]>
	</update> 
	
	<!-- user레시피 댓글 -->
	<insert id="userInsertReply"  parameterType="BoardReply">
      INSERT INTO USER_MENU_REPLY
      VALUES(SEQ_UMR.nextval,#{bId},#{content},#{writer},SYSDATE,0,'Y')
	</insert>
	
	<!-- user 레시피 댓글 삭제 -->
	<update id="userDeleteReply" parameterType="_int">
		UPDATE USER_MENU_REPLY
		SET UMR_STATUS='N'
		WHERE UMR_NUM=#{rId}
	</update>
	
	<select id="MainRandomselectList2" resultMap="boardResultSet">
		<![CDATA[
			SELECT * FROM (SELECT * FROM USER_MENU_BOARD
			ORDER BY UMB_THANK DESC)
			WHERE ROWNUM <= 4
		]]>
	</select>
	
	<insert id="userinsertRecipe"  parameterType="Board">
      INSERT INTO USER_MENU_BOARD
      VALUES(SEQ_UMB.nextval,#{mb_title},#{mb_content},SYSDATE,#{mb_writer},#{mb_origin},#{mb_rename},0,0,0,'Y',#{mc_cate_num},#{mb_serving},#{mb_time},#{mb_level})
	</insert>
</mapper>