<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.market.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.market.recipe.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.market.recipe.model.vo.Board" alias="TBoard"/>
		<typeAlias type="com.kh.market.recipe.model.vo.Board" alias="DetailBoard"/>
		<typeAlias type="com.kh.market.recipe.model.vo.BoardReply" alias="BoardReply"/>
		<typeAlias type="com.kh.market.recipe.model.vo.BoardProduct" alias="BoardProduct"/>
		<typeAlias type="com.kh.market.recipe.model.vo.BoardExp" alias="BoardExp"/>
		<typeAlias type="com.kh.market.recipe.model.vo.Menu_Category" alias="Menu_Category"/>
		<typeAlias type="com.kh.market.admin.model.vo.MainCategory" alias="maincate"/>
		<typeAlias type="com.kh.market.admin.model.vo.SubCategory" alias="subcate"/>
		<typeAlias type="com.kh.market.product.model.vo.Product" alias="Product"/>
		<typeAlias type="com.kh.market.servicecenter.model.vo.ServiceCenterNoticeBoard" alias="Notice"/>
		<typeAlias type="com.kh.market.servicecenter.model.vo.ServiceCenterQnaBoard" alias="Qna"/>
		<typeAlias type="com.kh.market.mirotic.model.vo.Mirotic" alias="Mirotic"/>
		<typeAlias type="com.kh.market.member.model.vo.Favorite" alias="Favorite"/>
		<typeAlias type="com.kh.market.member.model.vo.MyBag" alias="MyBag"/>
		
		
<!-- 	<typeAlias type="com.kh.spring.board.model.vo.Reply" alias="Reply"/> -->
	</typeAliases>
	
	<!-- DB정보를 썼던 부분 
		 environments 엘리먼트로 dataSource 등등의 정보
		 스프링에서는 그 정보를 이 파일에서 안쓴다 
		 기존에 DB에 연결 설정에 대한 정보를 mybatis-config.xml에서 작성 ->
		 
	-->
	
	<mappers>
		<mapper resource="mappers/subcate-mapper.xml"/>
		<mapper resource="mappers/maincate-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/TVboard-mapper.xml"/>
		<mapper resource="mappers/USERboard-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
		<mapper resource="mappers/ServiceCenter-mapper.xml"/>
		<mapper resource="mappers/mirotic-mapper.xml"/>
	</mappers>
	
	
	
	
	
</configuration>